.top {
  display: flex;
  justify-content: center;
  background: #f7f7f7;
  height: 31px;
  line-height: 32px;
  border-bottom: 1px solid #e7e7e7;
  z-index: 3001;
}
.top .topnav {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  color: #999;
  font-family: Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
  line-height: 32px;
}
.top .topnav .top_r li {
  float: left;
  margin: 0 0 0 20px;
}
.top .topnav .top_r li a {
  color: #999;
}
.top .topnav .top_r li a:hover {
  color: #ee394b;
}
.top .topnav .top_r .num {
  font-style: normal;
  color: orangered;
}
.top .topnav .top_r .num .iconfont {
  margin-top: 10px;
}

.mod-header {
  width: 1200px;
  height: 97px;
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.mod-header .mod-header-l img {
  width: 216px;
  height: 60px;
  margin-top: 30px;
}
.mod-header .search {
  margin-top: 30px;
  width: 396px;
  border: 1px solid red;
  background: #fff;
  font-size: 12px;
  padding-left: 10px;
  color: #999;
  height: 14px;
  line-height: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: 0;
}
.mod-header .btn {
  margin-top: 30px;
  width: 100px;
  color: #fff;
  border: 0;
  background: #eb3b4a;
  font-size: 20px;
  height: 36px;
  float: right;
  font-family: "\5FAE\8F6F\96C5\9ED1";
  outline: 0;
}
.mod-header .mod-header-nav {
  display: flex;
  justify-content: stretch;
}
.mod-header .mod-header-nav li {
  margin: 0 10px;
  padding: 10px 0 0;
}
.mod-header .mod-header-nav li a {
  color: #777;
}
.mod-header .mod-header-nav li:hover a {
  color: #ee394b;
}
.mod-header .mod-header-r {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}
.mod-header .mod-header-r img {
  width: 50px;
  height: 50px;
  margin: 0 10px 0 0;
}
.mod-header .header-pro p {
  width: 100px;
  height: 20px;
  padding: 5px 0;
  color: #999;
}
.mod-header .header-pro span {
  width: 100px;
  height: 20px;
  padding: 5px 0;
  color: #666;
}
.mod-header .smallbtn {
  float: right;
  margin: 31px 0 0 10px;
  width: 39px;
  height: 19px;
  background: url(../images/arrow2.gif) no-repeat;
}

.nav-wrap {
  height: 40px;
  background: #ee394b;
}
.nav-wrap .nav-center {
  width: 1200px;
  margin: 0 auto;
}
.nav-wrap .nav-center .nav-box {
  display: flex;
}
.nav-wrap .nav-center .nav-box li {
  height: 40px;
  line-height: 40px;
  padding: 0 25px;
  border-bottom: 3px solid transparent;
  box-sizing: border-box;
}
.nav-wrap .nav-center .nav-box li a {
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.nav-wrap .nav-center .nav-box li:hover {
  border-bottom: 3px solid #cc0e2b;
}
.nav-wrap .nav-center .nav-box li:first-child {
  font-weight: bolder;
  border-bottom: 3px solid #cc0e2b;
}

.new-focus-list {
  position: relative;
  width: 1920px;
  height: 400px;
  margin: auto;
}
.new-focus-list li {
  position: absolute;
  left: 0;
  top: 0;
  height: 400px;
  width: 100%;
  z-index: 1;
  opacity: 0;
}
.new-focus-list .active {
  z-index: 3;
  opacity: 1;
}

.mian {
  width: 1200px;
  margin: 0 auto;
}

.main-banner {
  width: 1200px;
  height: 120px;
  margin: 40px auto;
}
.main-banner img {
  width: 100%;
  height: 100%;
}

.selection {
  width: 1200px;
  height: 36px;
  margin: 0 auto;
  padding-bottom: 10px;
}
.selection img {
  width: 36px;
  height: 36px;
  float: left;
}
.selection h3 {
  line-height: 36px;
  float: left;
  font-size: 28px;
  margin: 0 10px;
  font-weight: normal;
  vertical-align: middle;
}
.selection span {
  display: inline-block;
  font-size: 16px;
  color: #c2c2c2;
  vertical-align: bottom;
  padding: 0 10px;
  margin-top: 10px;
}
.selection a {
  float: right;
  font-size: 14px;
  color: #666;
  line-height: 36px;
}
.selection a em {
  display: inline-block;
  font-style: normal;
  width: 6px;
  height: 16px;
}
.selection a:hover {
  color: #ee394b;
}

.product {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.product li {
  width: 239px;
  height: 256px;
  border-left: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  margin-left: -1px;
  margin-top: -1px;
}
.product li > a {
  display: block;
  text-align: center;
}
.product li > a img {
  width: 140px;
  height: 140px;
  margin: 15px 0 0;
  transition: 1.6s;
}
.product li > a:hover img {
  transform: scale(1.1);
}
.product .product-box {
  margin: 15px 14px 0;
  box-sizing: border-box;
}
.product .product-box a {
  display: block;
  color: #333;
  font-size: 14px;
}
.product .product-box .product-title {
  font-size: 12px;
  color: #999;
  line-height: 20px;
  height: 20px;
}
.product .product-box .product-title .product-title-box {
  background: url(../images/mian-pic2.png);
  display: inline-block;
  width: 65px;
  height: 18px;
  line-height: 18px;
  position: relative;
  font-size: 12px;
  background-position: 0 0;
  border-radius: 3px;
  margin-right: 5px;
}
.product .product-box .product-title .product-title-box em {
  font-style: normal;
  color: #fff;
  display: inline-block;
  margin-left: 10px;
  height: 18px;
  line-height: 18px;
  background-color: #ee394b;
  border-radius: 3px;
  padding-right: 3px;
  width: 52px;
}
.product .product-box .product-title-box1 {
  height: 40px;
  line-height: 40px;
}
.product .product-box .product-title-box1 em {
  font-style: normal;
  font-size: 20px;
  color: #ee394b;
}
.product .product-box .product-title-box1 span {
  float: right;
  color: #999;
}

.foot-box1 {
  width: 100%;
  height: 495px;
  background-color: #fafafa;
  margin-top: 40px;
}
.foot-box1 .foot-list {
  width: 1200px;
  height: 137px;
  margin: 0 auto;
}
.foot-box1 .foot-list li {
  position: relative;
  width: 240px;
  height: 137px;
  float: left;
}
.foot-box1 .foot-list li img {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -80px;
  margin-top: -35px;
  display: block;
  width: 70px;
  height: 70px;
  text-align: center;
}
.foot-box1 .foot-list li .li-box {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -20px;
  margin-left: 10px;
  float: left;
}
.foot-box1 .foot-list li .li-box p {
  color: #777;
  margin-bottom: 5px;
}

/*# sourceMappingURL=index1.css.map */
