.top {
  display: flex;
  justify-content: center;
  background: #f7f7f7;
  height: 31px;
  line-height: 32px;
  border-bottom: 1px solid #e7e7e7;
  z-index: 3001;
}
.top .topnav {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  color: #999;
  font-family: Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
  line-height: 32px;
}
.top .topnav .top_r li {
  float: left;
  margin: 0 0 0 20px;
}
.top .topnav .top_r li a {
  color: #999;
}
.top .topnav .top_r li a:hover {
  color: #ee394b;
}
.top .topnav .top_r .num {
  font-style: normal;
  color: orangered;
}
.top .topnav .top_r .num .iconfont {
  margin-top: 10px;
}

.mod-header {
  width: 1200px;
  height: 97px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.mod-header .mod-header-l {
  float: left;
}
.mod-header .mod-header-mid {
  float: left;
  margin-left: 155px;
  margin-top: 37px;
}
.mod-header .mod-header-l img {
  width: 216px;
  height: 60px;
  margin-top: 30px;
}
.mod-header .search {
  width: 396px;
  border: 1px solid red;
  background: #fff;
  font-size: 12px;
  padding-left: 10px;
  color: #999;
  height: 14px;
  line-height: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: 0;
}
.mod-header .btn {
  width: 100px;
  color: #fff;
  border: 0;
  background: #eb3b4a;
  font-size: 20px;
  height: 36px;
  float: right;
  font-family: "\5FAE\8F6F\96C5\9ED1";
  outline: 0;
}
.mod-header .mod-header-nav {
  display: flex;
  justify-content: stretch;
}
.mod-header .mod-header-nav li {
  margin: 0 10px;
  padding: 10px 0 0;
}
.mod-header .mod-header-nav li a {
  color: #777;
}
.mod-header .mod-header-nav li:hover a {
  color: #ee394b;
}

.nav-wrap {
  height: 40px;
  background: #ee394b;
}
.nav-wrap .nav-center {
  width: 1200px;
  margin: 0 auto;
}
.nav-wrap .nav-center .nav-box {
  display: flex;
}
.nav-wrap .nav-center .nav-box li {
  height: 40px;
  line-height: 40px;
  padding: 0 25px;
  border-bottom: 3px solid transparent;
  box-sizing: border-box;
}
.nav-wrap .nav-center .nav-box li a {
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.nav-wrap .nav-center .nav-box li:hover {
  border-bottom: 3px solid #cc0e2b;
}
.nav-wrap .nav-center .nav-box li:first-child {
  font-weight: bolder;
  border-bottom: 3px solid #cc0e2b;
}

.lunbo {
  position: relative;
  width: 100%;
  height: 400px;
  margin: 0 auto;
}
.lunbo .banner-wrap {
  width: 100%;
  height: 400px;
  background: url(http://pic5.iqiyipic.com/common/20160623/0b83360c260b449fa2ff22179d573baf.jpg) no-repeat center center;
}

.foot-box1 {
  width: 100%;
  height: 495px;
  background-color: #fafafa;
  margin-top: 40px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.foot-box1 .foot-list {
  width: 1200px;
  height: 137px;
  margin: 0 auto;
  border-bottom: 1px solid #e5e5e5;
}
.foot-box1 .foot-list li {
  position: relative;
  width: 240px;
  height: 137px;
  float: left;
}
.foot-box1 .foot-list li img {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -80px;
  margin-top: -35px;
  display: block;
  width: 70px;
  height: 70px;
}
.foot-box1 .foot-list li .li-box {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -20px;
  margin-left: 10px;
  float: left;
}
.foot-box1 .foot-list li .li-box p {
  color: #777;
  margin-bottom: 5px;
}
.foot-box1 .foot-list1 {
  width: 1200px;
  height: 126px;
  margin: 0 auto;
  padding-top: 30px;
}
.foot-box1 .foot-list1 li {
  float: left;
  width: 240px;
  height: 126px;
  border-bottom: 1px solid #e5e5e5;
}
.foot-box1 .foot-list1 li a {
  display: block;
  text-align: center;
  color: #333;
  font-size: 14px;
}
.foot-box1 .foot-list1 li a:nth-child(1) {
  font-size: 18px;
  padding-bottom: 5px;
}
.foot-box1 .foot-list2 {
  width: 1200px;
  height: 120px;
  margin: 40px auto;
}
.foot-box1 .foot-list2 li {
  width: 400px;
  height: 120px;
  float: left;
}
.foot-box1 .foot-list2 .QR-code {
  width: 120px;
  height: 120px;
  float: left;
}
.foot-box1 .foot-list2 .QR-code img {
  display: block;
  width: 100%;
  height: 100%;
}
.foot-box1 .foot-list2 .codenarrte {
  margin-left: 10px;
  float: left;
}
.foot-box1 .foot-list2 .codenarrte h3 {
  font-weight: normal;
  font-size: 24px;
  color: #333;
  padding-bottom: 5px;
}
.foot-box1 .foot-list2 .codenarrte p {
  font-size: 14px;
  color: #666;
  line-height: 25px;
}

.foot-box2 {
  background-color: #f5f5f5;
  width: 100%;
  padding-bottom: 36px;
}
.foot-box2 .lincense-tag {
  width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}
.foot-box2 .lincense-tag li {
  float: left;
  margin-right: 55px;
}
.foot-box2 .lincense-tag li a {
  display: block;
  color: #777;
  margin-bottom: 10px;
}
.foot-box2 .lincense-tag li a:hover {
  color: #ee394b;
}
.foot-box2 .lincense-tag li span {
  color: #777;
}
.foot-box2 .lincense-tag li .mb10 img {
  float: left;
  margin-right: 5px;
}
.foot-box2 .lincense-tag li .mb10 a {
  float: left;
}
.foot-box2 .clearfix::after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
}
.foot-box2 .license {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.foot-box2 .license li {
  float: left;
  margin-right: 55px;
}
.foot-box2 .license li a {
  display: block;
  color: #777;
  margin-bottom: 10px;
}
.foot-box2 .license li a:hover {
  color: #ee394b;
}
.foot-box2 .foot-menu {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.foot-box2 .foot-menu li {
  float: left;
}
.foot-box2 .foot-menu li a {
  display: inline;
  color: #333;
  text-align: center;
}
.foot-box2 .foot-menu li i {
  font-style: normal;
  margin: 0 10px;
}
.foot-box2 .clearfix::after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
}
.foot-box2 .report {
  width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
}
.foot-box2 .report a {
  display: inline;
  margin-right: 30px;
  color: #777;
}
.foot-box2 .report a img {
  vertical-align: middle;
}
.foot-box2 .report span {
  margin-right: 30px;
  color: #666;
}
.foot-box2 .report span:last-child {
  margin-right: 0;
}
.foot-box2 .report span:last-child a {
  margin-right: 0;
}
.foot-box2 .copy {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}
.foot-box2 .copy a {
  display: inline;
  margin-right: 10px;
  color: #777;
}
.foot-box2 .copy a span {
  margin-left: 5px;
  color: #777;
}
.foot-box2 .copy a:hover {
  color: #ee394b;
}

/*# sourceMappingURL=list.css.map */
